<div class="chat">
  <div class="chat__header">
    <h1>Chat Messanger</h1>
  </div>
  <div class="chat__content">
    <div class="chat__content__message" *ngFor="let message of messages">
      <div class="chat__content__message__header">
        <h3>{{ message.username }}</h3>
        <p>{{ currentDate | date:'HH:mm:ss' }}</p>
      </div>
      <p>{{ message.message }}</p>
    </div>
  </div>
  <form class="chat__form" (submit)="alertMessage($event)">
    <textarea name="message" class="chat__form__input" placeholder="Ваше сообщение" [(ngModel)]="message"></textarea>
    <button
      type="submit"
      class="chat__form__btn"
    >
      <img src="icons/sendico.svg" alt="ico">
    </button>
  </form>
</div>
